div{
    
    background-color: chartreuse;
    line-height: 40px;
    margin: 70px;
    font-size: 30px;
    line-height: 30px;
    padding: 10px;;
}
h3{
    color: forestgreen;
    text-align: center;    
}